<h2>Product List</h2>
<button (click)="loadProducts()" style="margin-bottom: 10px;" class="btn btn-sm btn-success ">Load Product</button>
<button style="margin-bottom: 10px;" class="btn btn-sm btn-success float-right ">Add</button>
<h4 *ngIf="products.length ==0">there is no product. Please add one using add button</h4>
<table *ngIf="products.length >0" class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th style="width: 100px;">Price</th>
            <th style="width: 150px;"> Category</th>
            <th style="width: 150px;">Brand</th>
            <th style="width: 150px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i= index">
            <td>{{i+1}}</td>
            <td>{{product['title']}}</td>
            <td>{{product['description']}}</td>
            <td>{{product['price']}}</td>
            <td>{{product['category']['title']}}</td>
            <td>{{product['brand']['title']}}</td>
            <td>
                <button (click)="onEdit(product)" class="btn btn-warning btn-sm">Edit</button>
                <button (click)="onDelete(product, i)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </tbody>
</table>