<h2>Register Here</h2>

<div class="form">
    <div class="form-group">
        <label for="">FirstName</label>
        <input [(ngModel)]='firstName' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">LastName</label>
        <input [(ngModel)]='lastName' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]='email' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]='password' type="password" class="form-control">
    </div>
    <div class="form-group">
        <button (click)="onSignUp()" class="btn btn-success">SignUp</button>
        <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
    </div>
</div>